html {
  scroll-behavior: smooth;
  background-color: #f6f9fc;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f9fc;
  font-family: "Open Sans", sans-serif;
  color: #525f7f;
}

.text-break {
  display: none;
}

#header {
  padding-bottom: 0;
}

.content__buttons {
  display: flex;
  justify-content: center;
}

.content__buttons a {
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  margin: 0 1rem;
  text-align: center;
}

.content__buttons a:hover {
  transition: 0.2s;
  transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
}

.center {
  text-align: center;
}

a,
.light-purple {
  color: #747fe0;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #f6f9fc;
}

.navbar-start {
  display: flex;
}

.navbar-item {
  transition: 0.3s;
  color: #747fe0;
  font-size: 1.2rem;
}

.navbar-item:hover {
  transition: 0.3s;
  color: black !important;
}

#name {
  display: block;
  text-align: center;
  animation: fadein 1.5s;
  color: #747fe0;
  font-weight: 600;
}

#summary-text {
  color: #3e3e3e;
  text-align: center;
  line-height: 1.5;
  opacity: 0;
  display: block;
  animation: fadein 2s forwards;
  animation-delay: 1s;
  font-weight: 400;
}

.title.is-2 {
  color: #4a4a4a;
  font-weight: 600;
}

.card {
  background-color: #f6f9fc;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 30px 30px 30px 30px;
  transition: 0.2s;
  text-align: center;
}

.card-content {
  justify-content: center;
  align-items: center;
}

.bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bm--card-equal-height .card-footer {
  margin-top: auto;
}

.button {
  transition: 0.3s;
  background-color: #f8f8f8;
  color: #747fe0;
}

.button:hover {
  transition: 0.3s;
}

a.button.is-medium {
  border: none;
  margin: 0;
}

a.button.is-medium:hover {
  color: #3e3e3e;
}

.tags {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  width: 100%;
}

.footer {
  padding: 1.5rem 1.5rem;
  background-color: inherit;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 62.5rem) {
  .text-break {
    display: block;
  }
}
