html{
    scroll-behavior: smooth;
}

a{

}
.navbar{
    text-align: center;
}

#green-text{
    color: 	#98FB98;
}

#blue-text, a, #logo{
    color: #00BFFF
}

#purple-text{
    color: 	#FF00FF;
}

#red-text{
    color: #ff3333;
}

.navbar{
    font-size: 1.2rem;
}

.subtitle{
    letter-spacing: 1.2px;
}

img{
    padding-top: 3%;
}

.card-content{
    justify-content: center;
    align-items: center;
}

p a{
    float: right;
    align-content: center;
}

.card{
    margin-top: 2%;
    margin-bottom: 2%;
}
