html{
    scroll-behavior: smooth;
}

.navbar{
    text-align: center;
}

#green-text{
    color: 	#98FB98;
}

#blue-text, a, #logo{
    color: #00BFFF
}

#purple-text{
    color: 	#FF00FF;
}

#red-text{
    color: #ff3333;
}

.navbar{
    font-size: 1.2rem;
}

.subtitle{
    letter-spacing: 1.2px;
}

.card-content{
    justify-content: center;
    align-items: center;
}

p a{
    float: right;
}

.card{
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer{
padding: 1.5rem 1.5rem !important;
}

#email-link{
   padding-bottom: 0;
   margin: 0;
}

#name{
    font-weight: 650;
}

.tags{
    margin-top: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .title{
        font-size: 1.5rem;
    }
    .subtitle{
        font-size: 2rem;
    }
    #footer-contact-info{
        font-size: 1rem;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .title{
        font-size: 1.5rem;
    }
    .subtitle{
        font-size: 2rem;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .title{
        font-size: 2rem;
    }
    .subtitle{
        font-size: 2.5rem;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .title{
        font-size: 2.2rem;
    }
    .subtitle{
        font-size: 2.7rem;
    }
} 